<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <title>The One And Only - Five Facts About Him</title>
</head>
<body>
    <section class="section1">
    <h1>Five Facts about Taylor Hawkins</h1>
    <h2>Did You Know?...</h2>
    </section>
    <ol>
        <li>Taylor Hawkins joined the legendary Foo Fighters back in 1997.</li>
        <li>Oliver Taylor Hawkins was born on 17 February 1972 in Forth Worth, Texas, and began playing the drums at the tender age of ten.</li>
        <li>Taylor Hawkins' great idols: Stewart Copeland from The Police and Phil Collins.</li>
        <li>After being a member of a few cover bands, he finally became part of Alanis Morissette's backing band.</li>
        <li>There he was discovered by Dave Grohl, who was just looking for a new drummer for the Foo Fighters</li>
    </ol>
    <a href="/">Go back to the main page 🏡</a>
</body>
</html>