<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <title>The One And Only</title>
</head>
<body>
    <section class="section1">
    <h1>Taylor Hawkins</h1>
    <h2>One of the biggest rock stars of our time!</h2>
    <blockquote>
        <img alt="Quote" src="/images/icon-quote.svg" height="40">
        <br>
        "I don't have perfect pitch. My drums sound like a drummer, not a drum machine."
    <footer>
        <img alt="hand" src="/images/brand.png" height="36">
        <br>
        <br>
        <i>- Taylor Hawkins, Drummer of The Foo Fighters</i>
    </footer>
</blockquote>
    <img class="taylor" src="/images/800px-FoosLondonStad220618-63_(42989558592).jpg" alt="Taylor Hawkins">
    <a href="/facts">Go to Five Facts About Him</a>
</section>
</body>
</html>